<!DOCTYPE html>
<html lang="pt-br">

<link rel="shortcut icon" href="/icon/organizacao-_1_.ico">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoySense | Dashboard</title>
    <!-- chart js lib -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- estático js script -->
    <script src="/js/side-bar.js" defer></script>
    <!-- <script src="/js/graficos-simulativo-dashboard.js" defer></script> -->


    <!-- styles -->
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/header-main.css">
</head>

<body>
    <aside class="side-bar">
        <div class="logo-wrapper">
            <img src="/icon/logo-soysense.png" />
        </div>
        <div class="profile-wrapper">
            <div class="profile-picture">
                <img src="/img/profile.jpg" />
            </div>
            <span>
                <%= userCompany %>
            </span>
            <h4>
                <%= userName %>
            </h4>
        </div>
        <div class="line-side-bar"></div>
        <nav class="nav-side-bar">
            <ul class="accordion-menu">
                <li class="nav-normal-item dash-on">
                    <a href="/dashboard">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/dashboard-layout.png"
                            alt="dashboard-layout" />
                        Dashboard
                    </a>
                </li>
                <% if(userAdmin == 1){ %>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="20" height="20"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/maintenance.png"
                            alt="maintenance" />
                        <span>Gerenciar</span>
                    </div>
                   
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="/monitor"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp; Monitor 
                            </a>
                        </li>
                        <li class="accordion-subitem">
                            <a href="/fazenda"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp; Fazendas
                            </a>
                        </li>
                    </ul>
                </li>
                <% } %>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/address.png"
                            alt="address" />
                        <span>Fazendas</span>
                    </div>
                    <ul class="accordion-submenu ">
                        <% if(userAdmin==1) { %>
                            <% fazendas.forEach((fazenda)=>{ %>
                                <li class="accordion-subitem">
                                    <a href="/fazenda/<%= fazenda.idFazenda %>"><img width="10"
                                            style="transform: rotate(270deg);" height="10"
                                            src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                            alt="left-down2" />&nbsp;<%= fazenda.localidade %></a>
                                </li>
                            <% }) %>
                        <% }else { %>
                            <% if( userFazenda == null) { %>
                                <li class="accordion-subitem">
                                    <a href="/naoencontrado"><img width="10"
                                            style="transform: rotate(270deg);" height="10"
                                            src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                            alt="left-down2" />Nenhuma fazenda!</a>
                                </li>
                            <% }else{ %>
                                <li class="accordion-subitem">
                                    <a href="/fazenda/1"><img width="10"
                                            style="transform: rotate(270deg);" height="10"
                                            src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                            alt="left-down2" />&nbsp;<%= fazendas[0].localidade %></a>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/document--v1.png"
                            alt="document--v1" />
                        <span>Relatório</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Desempenho</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-normal-item">
                    <a href="">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/fine-print.png" alt="fine-print" />
                        Benchmarking
                    </a>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/settings--v1.png"
                            alt="settings--v1" />
                        <span>Configuração</span>
                    </div>
                    <ul class="accordion-submenu">
                        
                        <li class="accordion-subitem">
                            <a href="/profile"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Perfil</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href="https://soytech.atlassian.net/servicedesk/customer/portals"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Suporte</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="footer-aside">
            <div class="logout-container">
                <a href="/logout">
                    <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/f13939/logout-rounded.png"
                        alt="logout-rounded" />
                    Sair
                </a>
            </div>
        </div>
    </aside>
    <main class="main-dashboard">

        <header class="header-dashboard">
            <div class="inner-header">
                <h1>Dashboard</h1>
                <a href="#">/dashboard</a>
            </div>
        </header>
        <section class="summary-container">
            <div class="summary-card">
                <div class="summary-main" id="temp-card">
                    <span>Alerta: Temperatura</span>
                    <h1 id="critico-titulo-temp">0</h1>
                </div>
                <div class="summary-footer ">
                    <h1>Crítico: Nenhuma fazenda com problema</h1>
                </div>
            </div>
            <!-- id="desempenho-titulo" -->
            <div class="summary-card">
                <div class="summary-main">
                    <span>Alerta: Umidade</span>
                    <h1>13%</h1>
                </div>
                <div class="summary-footer ">
                    <h1>Crítico: Nenhuma fazenda com problema</h1>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-main" id="umid-card">
                    <span>
                        <%= countFazendaHec[0].totalFazendas %> fazendas
                    </span>
                    <h1>
                        <%= countFazendaHec[0].totalHectares %> p/Ha
                    </h1>
                </div>
                <div class="summary-footer">
                    <h1>Monitorando</h1>
                </div>
            </div>

            <div class="summary-card">
                <div class="summary-main">
                    <span>Sensor: <%= countSensors[0].tipo.toUpperCase() %></span>
                    <h1> <%= countSensors[0].quantidade %> Unidades</h1>
                </div>
                <div class="summary-footer ">
                    <h1>Umidade</h1>
                </div>
            </div>

            <div class="summary-card">
                <div class="summary-main">
                    <span>Sensor:  <%= countSensors[1].tipo.toUpperCase() %></span>
                    <h1><%= countSensors[1].quantidade %> Unidades</h1>
                </div>
                <div class="summary-footer ">
                    <h1>Temperatura</h1>
                </div>
            </div>
        </section>

        <section class="graficoDown">
            <div class="allDown">
                <div class="legendaPrincipal">
                    <div class="graficoBarras">
                        <h4>Quantidade de alertas registrados por fazenda (2024)</h4>
                        <canvas width="720" height="500" id="FazendasProblemas"></canvas>
                    </div>
                </div>
                <div class="graficosContent">
                    <div class="tabelaPrincipal">
                        <div class="tituloGraficoRight">
                            <h4>Logs de alertas</h4>
                        </div>
                        <div class="table-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fazenda</th>
                                        <th>Data</th>
                                        <th>Tipo do Sensor</th>
                                        <th>Medição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Fazenda A</td>
                                        <td>2023-10-26</td>
                                        <td>DHT11</td>
                                        <td>25%</td>
                                    </tr>
                                    <!-- Adicione mais linhas aqui para testar o scroll -->
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="graficoPizzaDown">
                        <div class="tituloGraficoRight">
                            <h4>Quantidade de sensores nas fazendas</h4>
                        </div>
                        <div class="graficoPizzaPrincipal">
                            <canvas width="550px" height="450px" id="graficosPizzaDashPrincipal"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>

        var contextoQtdLm35 = document.getElementById('graficosPizzaDashPrincipal').getContext('2d');
        var qtdLm35 = new Chart(
            contextoQtdLm35,
            {
                type: 'pie',
                data: {
                    datasets: [{
                        type: 'line',
                        borderColor: ['#fff'],
                        backgroundColor: ['#fff']
                    }],
                    labels: [
                        'DHT11',
                        'LM35',

                    ],
                    datasets: [{
                        data: [<%=countSensors[0].quantidade %>,<%=countSensors[1].quantidade %>],
                        backgroundColor: [
                            '#008AE6',
                            '#F89500',

                        ],
                        hoverBackgroundColor: [
                            '#008AE9',// Cor de fundo ao passar o mouse sobre o segmento
                            '#F89505',
                            // Cor ao passar o mouse sobre o segmento "Inativos"
                        ],
                        hoverOffSet: 1,
                        borderWidth: 3,
                    }]
                }
            }
        );



        /* Grafico de linha qtd Fazendas com Alertas criticos*/

        const barDashChart = document.getElementById('FazendasProblemas');

        new Chart(barDashChart, {
            type: 'bar',
            data: {
                labels: ['Fazenda A', 'Fazenda B', 'Fazenda C', 'Fazenda D', 'Fazenda E'],
                datasets: [{
                    label: 'Alertas criticos',
                    data: [22, 24, 27, 23, 20, 18],
                    borderWidth: 1,
                    backgroundColor: [
                        '#007900',
                        '#00af00',
                        '#afc300',
                        '#ffad09',
                        '#ffe817'

                    ],
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        categoryPercentage: 0.7, // Ajuste esta propriedade para controlar a largura das colunas
                        barPercentage: 0.5 // Ajuste esta propriedade para controlar a largura das colunas
                    }],
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });



        /* Registros d Alerts*/

        const lineChart = document.getElementById('FazendasProblemas');

        new Chart(lineChart,
            {
                type: 'line',
                data: {
                    labels: ['12:00', '13:00', '14:00', '15:00', '16:00', '17:00'],
                    datasets: [{
                        label: 'Temperatura',
                        data: [30, 29, 28, 25, 22, 23],
                        borderWidth: 1,
                        borderColor: '#FF6384',
                        backgroundColor: '#FF6384',
                    }, {
                        label: 'Umidade',
                        data: [80, 83, 80, 85, 80, 83],
                        borderWidth: 1,
                        borderColor: '#36A2EB',
                        backgroundColor: '#36A2EB',
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        const barChart = document.getElementById('bar-chart');

        new Chart(barChart,
            {
                type: 'bar',
                data: {
                    labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho'],
                    datasets: [{
                        label: 'Temperatura média',
                        data: [22, 24, 27, 23, 20, 18],
                        borderWidth: 1,
                        borderColor: '#FF6384',
                        backgroundColor: '#FF6384',
                    }, {
                        label: 'Umidade média',
                        data: [90, 89, 93, 87, 88, 82],
                        borderWidth: 1,
                        borderColor: '#36A2EB',
                        backgroundColor: '#36A2EB',
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        var RegistroA = document.getElementById('RegistroA').getContext('2d');
        var valor =
            new Chart(RegistroA,
                {

                    type: 'line',
                    data: {
                        labels: [
                            'Janeiro',
                            'Fevereiro',
                            'Março',
                            'Abril',
                            'Maio',
                            'Junho',
                            'Julho',
                            'Agosto',
                            'Setembro',
                            'Outubro',
                            'Novembro',
                            'Dezembro'
                        ],
                        datasets: [
                            {
                                label: 'Fazenda X',
                                data: [1, 5, 0, 0, 9, 3, 2, 7, 11, 3, 2, 8],
                                borderWidth: 3,
                                pointRadius: 0,
                                backgroundColor: '#69E056',
                                borderColor: '#69E056'
                            },
                            {
                                label: 'Fazenda Y',
                                data: [0, 3, 4, 3, 6, 4, 8, 2, 1, 7, 6, 4],
                                borderWidth: 3,
                                pointRadius: 0,
                                backgroundColor: '#FFF857',
                                borderColor: '#FFF857'

                            }
                        ]

                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });


    </script>
</body>


</html>