<!DOCTYPE html>
<html lang="pt-br">

<link rel="shortcut icon" href="/icon/organizacao-_1_.ico">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoySense | Dashboard</title>
    <!-- chart js lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- estático js script -->
    <script src="/js/side-bar.js" defer></script>
    <script src="/js/graficos-simulativo-dashboard.js" defer></script>




    <!-- styles -->
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/header-main.css">
</head>

<body>
    <aside class="side-bar">
        <div class="logo-wrapper">
            <img src="/icon/logo-soysense.png" />
        </div>
        <div class="profile-wrapper">
            <div class="profile-picture">
                <img src="/img/profile.jpg" />
            </div>
            <span><%= userCompany %></span>
            <h4><%= userName %></h4>
        </div>
        <div class="line-side-bar"></div>
        <nav class="nav-side-bar">
            <ul class="accordion-menu">
                <li class="nav-normal-item dash-on">
                    <a href="/dashboard">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/dashboard-layout.png"
                            alt="dashboard-layout" />
                        Dashboard
                    </a>
                </li>
                <% if(userAdmin == 1){ %>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="20" height="20"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/maintenance.png"
                            alt="maintenance" />
                        <span>Gerenciar</span>
                    </div>
                   
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="/monitor"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp; Monitor 
                            </a>
                        </li>
                        <li class="accordion-subitem">
                            <a href="/fazenda"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp; Fazendas
                            </a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Sensor
                            </a>
                        </li>
                    </ul>
                </li>
                <% } %>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/address.png"
                            alt="address" />
                        <span>Fazendas</span>
                    </div>
                    <ul class="accordion-submenu ">
                        <% if(userAdmin == 1) { %>
                            <% fazendas.forEach((fazenda)=>{ %>
                                <li class="accordion-subitem">
                                    <a href="/fazenda/<%= fazenda.idFazenda %>"><img width="10" style="transform: rotate(270deg);" height="10"
                                            src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                            alt="left-down2" />&nbsp;<%= fazenda.localidade %></a>
                                </li>
                            <% }) %>
                        <% }else { %>
                            <li class="accordion-subitem">
                                <a href="/fazenda/1"><img width="10" style="transform: rotate(270deg);" height="10"
                                        src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                        alt="left-down2" />&nbsp;<%= fazendas[0].localidade %></a>
                            </li>
                        <% } %>
                    </ul>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/document--v1.png"
                            alt="document--v1" />
                        <span>Relatório</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Desempenho</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Rentabilidade</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;;Anomalias</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-normal-item">
                    <a href="">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/fine-print.png" alt="fine-print" />
                        Benchmarking
                    </a>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/settings--v1.png"
                            alt="settings--v1" />
                        <span>Configuração</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Perfil</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Personalizar</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Suporte</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="footer-aside">
            <div class="logout-container">
                <a href="/logout">
                    <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/f13939/logout-rounded.png"
                        alt="logout-rounded" />
                    Sair
                </a>
            </div>
        </div>
    </aside>
    <main class="main-dashboard">

        <header class="header-dashboard">
            <div class="inner-header">
                <h1>Dashboard</h1>
                <a href="#">/dashboard</a>
            </div>
        </header>
        <section class="summary-container">
            <div class="summary-card">
                <div class="summary-main" id="temp-card">
                    <span>Alerta: Temperatura</span>
                    <h1 id="critico-titulo-temp"></h1>
                </div>
                <div class="summary-footer ">
                    <h1>Crítico: Fazenda X</h1>
                </div>
            </div>
            <!-- id="desempenho-titulo" -->
            <div class="summary-card">
                <div class="summary-main">
                    <span>Alerta: Umidade</span>
                    <h1>10%</h1> 
                </div>
                <div class="summary-footer ">
                    <h1>Crítico: Fazenda Y</h1>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-main" id="umid-card">
                    <span><%= countFazendaHec[0].totalFazendas %> fazendas</span>
                    <h1><%= countFazendaHec[0].totalHectares %> p/Ha</h1>
                </div>
                <div class="summary-footer">
                    <h1>Monitorando</h1>
                </div>
            </div>

            <div class="summary-card">
                <div class="summary-main">
                    <span>Sensor: DHT11</span>
                    <h1>100 Unidades</h1>
                </div>
                <div class="summary-footer ">
                    <h1>Umidade</h1>
                </div>
            </div>

            <div class="summary-card">
                <div class="summary-main">
                    <span>Sensor: LM35</span>
                    <h1>100 Unidades</h1>
                </div>
                <div class="summary-footer ">
                    <h1>Temperatura</h1>
                </div>
            </div>
        </section>


        <div class="DesempenhoRegistroGraficos">
            <section class="registro-container">
                <div class="registro-grafico">
                    <h4>Registro de Alertas</h4>
                    <section>
                        <canvas id="RegistroA"></canvas>
                    </section>
                </div>
            </section>

            <section class="problemas-container">
                <div class="problemas-grafico">
                    <h4>Fazendas com problemas</h4>
                    <section>
                        <canvas id="FazendasProblemas"></canvas>
                    </section>
                </div>
            </section>
        </div>

        </div>
    </main>
    <script>
        /* Fazendas com problemas */

        var FazendasProblemas = document.getElementById('FazendasProblemas').getContext('2d');
        var Problemas =
            new Chart(FazendasProblemas,        
                        {
                            type: 'pie',
                            data: {
                                labels: ['Fazenda x', 'Fazenda y'],
                                datasets: [{
                                    label: 'Quantidade de problemas',
                                    data: [11, 7],
                
                                    backgroundColor: [
                                    '#69E056',
                                    '#FFF857',
                                    ],
                
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });


        /* Registros d Alerts*/

        var RegistroA = document.getElementById('RegistroA').getContext('2d');
        var valor = 
            new Chart(RegistroA,     
                {

                    type: 'line',
                    data: {
                        labels: [
                            'Janeiro',
                            'Fevereiro',
                            'Março',
                            'Abril',
                            'Maio',
                            'Junho',
                            'Julho',
                            'Agosto',
                            'Setembro',
                            'Outubro',
                            'Novembro',
                            'Dezembro'
                        ],
                        datasets: [
                            {
                                label: 'Fazenda X',
                                data: [1,5,0,0,9,3,2,7,11,3,2,8],
                                borderWidth: 3,
                                pointRadius: 0,
                                backgroundColor: '#69E056',
                                borderColor: '#69E056'
                            },
                            {
                                label: 'Fazenda Y',
                                data: [0,3,4,3,6,4,8,2,1,7,6,4],
                                borderWidth: 3,
                                pointRadius: 0,
                                backgroundColor: '#FFF857',
                                borderColor: '#FFF857'
                                
                            }
                        ]

                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                
    </script>
</body>


</html>

